<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <link rel="stylesheet" href="./css/element.css">
<style>
.el-table .success-row {
    background: #f0f9eb;
}
</style>
</head>
<body>
<div id="app" style="max-width: 900px; margin: 0 auto 0 auto;">
    <h1>后台管理</h1>
    <p style="line-height: 50px;">管理员状态：
        <strong :style="{color: admin?'green':'red'}">{{ admin?"已登录":"未登陆" }}</strong>
        <span v-show="!admin">
            <el-input v-model="password" placeholder="管理员密码" style="width: 200px; margin-left: 20px;"></el-input>
            <el-button type="primary" :loading="login_ing" @click="login()">{{ login_hint }}</el-button>
        </span>
        <span v-show="admin">
            <el-button type="danger" @click="unlogin()">退出登录</el-button>
        </span>
    </p>
        <el-button type="success" :loading="login_ing" @click="new_class()">新建班级</el-button>
        <strong style="margin-left: 20px">新建班级编号<code>cid</code>：{{ new_class_cid }}</strong>
        <el-button v-show="class_dirty" type="danger" @click="all_class_info()" style="margin-left: 20px;">班级信息已被修改，点击刷新</el-button>
    </p>
    <el-table :data="all_class_info_ret" style="width: 100%" :row-class-name="tableRowClassName" border>
        <el-table-column label="cid" width="50">
        <template slot-scope="scope">
            {{ scope.row.cid }}
        </template>
        </el-table-column>
        <el-table-column label="创建日期" width="200">
        <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.create_time }}</span>
        </template>
        </el-table-column>
        <el-table-column label="URL" width="150">
        <template slot-scope="scope">
            <el-input v-model="scope.row.url" placeholder="请输入内容" v-on:input="class_dirty=true;scope.row.dirty=true;"
                :disabled="scope.row.frozen==0"></el-input>
        </template>
        </el-table-column>
        <el-table-column label="描述信息">
        <template slot-scope="scope">
            <el-input type="textarea" :rows="1" placeholder="请输入内容" v-model="scope.row.note" v-on:input="class_dirty=true;scope.row.dirty=true"
                :disabled="scope.row.frozen==0"></el-input>
        </template>
        </el-table-column>
        <el-table-column label="操作">
        <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="student_cid=scope.row.cid" :disabled="student_cid==scope.row.cid">学生名单</el-button>
            <el-button v-show="scope.row.frozen==0" :disabled="scope.row.dirty" size="mini" type="danger" @click="freeze_class(scope.row.cid)">冻结</el-button>
            <el-button v-show="scope.row.frozen==1" :disabled="scope.row.dirty" size="mini" type="success" @click="unfreeze_class(scope.row.cid)">解锁</el-button>
            <el-button :disabled="!scope.row.dirty" size="mini" type="warning" @click="modify_class(scope.row.cid, scope.row.url, scope.row.note)">更新</el-button>
        </template>
        </el-table-column>
    </el-table>
    <h2>学生名单（cid={{student_cid}}）</h2>
    </p>
        <el-button type="success" :disabled="student_cid==-1||!admin" @click="all_student_info()">刷新学生列表</el-button>
        <el-button type="warning" :disabled="student_cid==-1||!student_dirty||!admin" @click="modify_student_info()">更新学生数据</el-button>
        <el-input placeholder="新增学生姓名" v-model="new_student_name" style="width: 200px; margin-left: 20px;"></el-input>
        <el-input type="textarea" :rows="1" placeholder="描述信息（选填）" v-model="new_student_description" style="width: 200px; margin-left: 10px;"></el-input>
        <el-button type="primary" :disabled="student_cid==-1||!admin" @click="new_student()">增加学生</el-button>
    </p>
    <el-table :data="students" style="width: 100%" border>
        <el-table-column label="姓名">
        <template slot-scope="scope">
            {{ scope.row.n }}
        </template>
        </el-table-column>
        <el-table-column label="描述信息">
        <template slot-scope="scope">
            <el-input type="textarea" :rows="1" placeholder="请输入内容" v-model="scope.row.d" v-on:input="student_dirty=true"></el-input>
        </template>
        </el-table-column>
        <el-table-column label="操作">
        <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="view_student(scope.row.n)">查看数据</el-button>
            <el-button :disabled="student_dirty" size="mini" type="danger" @click="delete_student(scope.row.n)">删除（无法恢复）{{delete_cnt?"("+delete_cnt+")":""}}</el-button>
        </template>
        </el-table-column>
    </el-table>
</div>
<script src="./js/vue.dev.js"></script>
<!-- <script src="./js/vue.js"></script> -->
<script src="./js/axios.min.js"></script>
<script src="./js/element.js"></script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        admin: false,
        password: "",
        login_ing: false,
        login_hint: "登录",
        new_class_cid: -1,
        all_class_info_ret: [],
        class_dirty: false,
        student_cid: -1,
        students: [],
        student_dirty: false,
        delete_cnt: null,
        delete_timer: null,
        new_student_name: "",
        new_student_description: "",
    },
    methods: {
        login() {
            app.login_ing = true;
            let data = new FormData();
            data.append('password', app.password);
            return axios.post('/admin_login', data)
            .then(function (response) {
                if ('error' in response.data) {
                    app.login_hint = "错误：" + response.data.error;
                    app.admin = false;
                } else {
                    app.login_hint = "登录";
                    app.admin = true;
                    app.password = "";
                }
                app.login_ing = false;
            })
            .catch(function (error) {
                console.error(error);
                app.login_hint = "API错误";
                app.login_ing = false;
                app.admin = false;
            });
        },
        tableRowClassName({row, rowIndex}) {
            if (row.cid == app.student_cid) return 'success-row';
            return '';
        },
        unlogin() {
            app.password = "";
            app.login().then(function () {
                app.login_hint = "登录";
            });
        },
        new_class() {
            return axios.post('/new_class')
            .then(function (response) {
                app.new_class_cid = response.data.cid;
                app.all_class_info();
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        all_class_info() {
            return axios.get('/all_class_info')
            .then(function (response) {
                if ('error' in response.data) app.all_class_info_ret = [];
                else {
                    let v = response.data.sort((a,b)=>b.cid-a.cid);
                    for (let i in v) v[i].dirty = false;
                    app.all_class_info_ret = v;
                }
                app.class_dirty = false;
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        freeze_class(cid) {
            let data = new FormData();
            data.append('cid', cid);
            return axios.post('/freeze_class', data)
            .then(function (response) {
                app.all_class_info();
                if ('error' in response.data) {
                    app.$alert('错误代码：' + response.data.error + "", '出现错误');
                } else {
                    app.$notify({
                        title: '执行成功', type: 'success',
                        message: "已冻结"
                    });
                }
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        unfreeze_class(cid) {
            let data = new FormData();
            data.append('cid', cid);
            return axios.post('/unfreeze_class', data)
            .then(function (response) {
                app.all_class_info();
                if ('error' in response.data) {
                    app.$alert('错误代码：' + response.data.error + "，请检查是否有相同url的已解锁班级", '出现错误');
                } else {
                    app.$notify({
                        title: '执行成功', type: 'success',
                        message: "已解锁"
                    });
                }
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        modify_class(cid, url, note) {
            if (url.length > 16) { app.$alert('url不能超过16个字符', '出现错误'); return; }
            if (note.length > 65536) { app.$alert('描述信息不能超过65536个字符', '出现错误'); return; }
            if (! /^[A-Za-z0-9]*$/.test(url)) { app.$alert('url只能为英文和数字', '出现错误'); return; }
            let data = new FormData();
            data.append('cid', cid);
            data.append('url', url);
            data.append('note', note);
            return axios.post('/modify_class', data)
            .then(function (response) {
                app.all_class_info();
                if ('error' in response.data) {
                    app.$alert('错误代码：' + response.data.error, '出现错误');
                } else {
                    app.$notify({
                        title: '执行成功', type: 'success',
                        message: "课程信息已经修改"
                    });
                }
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        clear_student() {
            app.student_cid = -1;
            app.students = [];
        },
        all_student_info() {
            if (app.student_cid < 0) {
                app.student_dirty = false; return;
            }
            return axios.get('/all_student_info/' + app.student_cid)
            .then(function (response) {
                if ('error' in response.data) {
                    app.$alert('错误代码：' + response.data.error, '出现错误');
                } else {
                    let v = response.data.sort((a,b)=>(b.n>a.n)?1:-1);  // 按名字排序
                    for (let i in v) v[i].d = "";
                    app.students = v;
                }
                app.student_dirty = false;
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        modify_student_info() {
            let v = [];
            for (let i in app.students) {
                let o = {n: app.students[i].n}
                if (app.students[i].d.length > 0) o.d = app.students[i].d;
                v.push(o);
            }
            console.log(v);
            let data = new FormData();
            data.append('cid', app.student_cid);
            data.append('student_info', JSON.stringify(v));
            return axios.post('/modify_student_info', data)
            .then(function (response) {
                app.all_student_info();
                if ('error' in response.data) {
                    app.$alert('错误代码：' + response.data.error, '出现错误');
                } else {
                    app.$notify({
                        title: '执行成功', type: 'success',
                        message: "学生信息已修改"
                    });
                }
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        delete_student(n) {
            if (this.delete_cnt == null) {
				this.delete_cnt = 5;
				clearTimeout(this.delete_timer);
				this.delete_timer = setTimeout(function() {
					app.delete_cnt = null;
				}, 3000);
				return;
			} else if (this.delete_cnt > 1) {
				this.delete_cnt -= 1;
				clearTimeout(this.delete_timer);
				this.delete_timer = setTimeout(function() {
					app.delete_cnt = null;
				}, 3000);
				return;
            }
            for (let i=0; i<this.students.length; ++i) {
                if (this.students[i].n == n) {
                    this.students.splice(i, 1); --i
                }
            }
			this.delete_cnt = null;
            app.student_dirty = true;
            app.modify_student_info();
        },
        new_student() {
            if (app.new_student_name.length < 1) { app.$alert('姓名不能为空', '出现错误'); return; }
            if (app.new_student_name > 16) { app.$alert('姓名过长', '出现错误'); return; }
            for (let i=0; i<this.students.length; ++i) {
                if (this.students[i].n == app.new_student_name) {
                    app.$alert('不能新增同名学生', '出现错误'); return;
                }
            }
            app.students.push({
                n: app.new_student_name,
                d: app.new_student_description,
            });
            app.student_dirty = true;
            app.modify_student_info();
        },
    },
    watch: {
        admin(val, old) {
            if (old == false && val == true) app.all_class_info();
        },
        student_cid(val, old) {
            app.students = [];
            app.all_student_info();
        },
    },
})
axios.get('/admin_check')
.then(function (response) {
    if ('ok' in response.data) {
        app.admin = true;
    }
})
.catch(function (error) {
    console.error(error);
});
</script>
</body>
</html>
