<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <link rel="stylesheet" href="./css/element.css">
</head>
<body>
<div id="app" style="max-width: 800px; margin: 0 auto 0 auto;">
    <h1>后台管理</h1>
    <p style="line-height: 50px;">管理员状态：
        <strong :style="{color: admin?'green':'red'}">{{ admin?"已登录":"未登陆" }}</strong>
        <span v-show="!admin">
            <el-input v-model="password" placeholder="管理员密码" style="width: 200px; margin-left: 20px;"></el-input>
            <el-button type="primary" :loading="login_ing" @click="login()">{{ login_hint }}</el-button>
        </span>
        <span v-show="admin">
            <el-button type="danger" @click="unlogin()">退出登录</el-button>
        </span>
    </p>
        <el-button type="success" :loading="login_ing" @click="new_class()">新建班级</el-button>
        <strong style="margin-left: 20px">新建班级编号<code>cid</code>：{{ new_class_cid }}</strong>
    </p>
    <el-table :data="all_class_info_ret" style="width: 100%">
        <el-table-column label="cid" width="50">
        <template slot-scope="scope">
            {{ scope.row.cid }}
        </template>
        </el-table-column>
        <el-table-column label="创建日期">
        <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.create_time }}</span>
        </template>
        </el-table-column>
        <el-table-column label="URL">
        <template slot-scope="scope">
            <el-input v-model="scope.row.url" placeholder="请输入内容"></el-input>
        </template>
        </el-table-column>
        <el-table-column label="描述信息">
        <template slot-scope="scope">
            <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="scope.row.note"></el-input>
        </template>
        </el-table-column>
        <el-table-column label="操作">
        <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="alert(1)">学生名单</el-button>
            <el-button v-show="scope.row.frozen==0" size="mini" type="danger" @click="alert(1)">冻结</el-button>
            <el-button v-show="scope.row.frozen==1" size="mini" type="success" @click="alert(1)">解锁</el-button>
        </template>
        </el-table-column>
    </el-table>
</div>
<script src="./js/vue.dev.js"></script>
<!-- <script src="./js/vue.js"></script> -->
<script src="./js/axios.min.js"></script>
<script src="./js/element.js"></script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        admin: false,
        password: "",
        login_ing: false,
        login_hint: "登录",
        new_class_cid: -1,
        all_class_info_ret: [],
    },
    methods: {
        login() {
            app.login_ing = true;
            let data = new FormData();
            data.append('password', app.password);
            return axios.post('/admin_login', data)
            .then(function (response) {
                if ('error' in response.data) {
                    app.login_hint = "错误：" + response.data.error;
                    app.admin = false;
                } else {
                    app.login_hint = "登录";
                    app.admin = true;
                    app.password = "";
                }
                app.login_ing = false;
            })
            .catch(function (error) {
                console.error(error);
                app.login_hint = "API错误";
                app.login_ing = false;
                app.admin = false;
            });
        },
        unlogin() {
            app.password = "";
            app.login().then(function () {
                app.login_hint = "登录";
            });
        },
        new_class() {
            return axios.post('/new_class')
            .then(function (response) {
                app.new_class_cid = response.data.cid;
                app.all_class_info();
            })
            .catch(function (error) {
                console.error(error);
            });
        },
        all_class_info() {
            return axios.get('/all_class_info')
            .then(function (response) {
                app.all_class_info_ret = response.data.sort((a,b)=>b.cid-a.cid);
            })
            .catch(function (error) {
                console.error(error);
            });
        },
    },
    watch: {
        admin(val, old) {
            if (old == false && val == true) app.all_class_info();
        }
    },
})
axios.get('/admin_check')
.then(function (response) {
    if ('ok' in response.data) {
        app.admin = true;
    }
})
.catch(function (error) {
    console.error(error);
});
</script>
</body>
</html>
